%meta{:charset => "utf-8"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
-# %meta{:content => "", :name => "description"}/
-# %meta{:content => "", :name => "author"}/
-# %link{:href => "../../favicon.ico", :rel => "icon"}/

%title MAKE A NICE VOTE

= csrf_meta_tags
