!!!
%html{lang: 'ja'}
  %head
    = render 'layouts/head'

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .container
      .header
        %h3.text-muted NICE VOTE

      = yield

      %footer.footer
        %p Nice boat.
