!!!
%html{lang: 'ja'}
  %head
    = render 'layouts/head'

    = stylesheet_link_tag    'welcome', media: 'all'
    = javascript_include_tag 'application'
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            = yield

          .mastfoot
            .inner
              %p
                - if [true, true, true, true, true, true, true, true, true, true, false].sample
                  Nice boat.
                - else
                  やっぱり、嘘だったんだじゃないですか。中に誰もいませんよ。
